/* ==========================================================================
   Default skin
   ========================================================================== */

/* Colors */
$gray                       : #0065b3 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 90%) !default;

$primary-color              : #121F47 !default;
$active-color               : mix(#fff, $primary-color, 80%) !default;
$google-plus-color          : #dd4b39 !default;
$footer-background-color    : #393939 !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : $primary-color !default;

// changed to black by juniem to meet accessibility critaria
// $text-color                 : #333 !default;
// $muted-text-color           : mix(#fff, $text-color, 35%) !default;
$text-color                 : black !default;
$muted-text-color           : black !default;
/*
$text-color                 : #222831 !default;
$background-color           : $lighter-gray !default;
*/
$slick-arrow-color: rgb(8, 8, 58) !default;

// added by juniem to increase the font in the project pages
td
{
    font-size: 1.40em !important;
}

.layout--single, .archive{
    #page-title{
        color: #ffffff;
        padding: 2em 0em 2em .5em;
        background-image: url("/ai-at-edge/assets/images/newpost10.png");
        background-position: center;
        background-size: cover;
        margin-bottom: 0px;
        padding-bottom: 0.5em;
    }
}

.greedy-nav {
    .masthead__menu-item {
        a {
            font-weight: 500;
        }
    }
}

.bgimg {
    background-image: url("/ai-at-edge/assets/images/newpost10.png");
}

// Original #737373 and #a6a6a6. Edited by juniem because of accessibility requirements

.page__footer {
    margin-top: 0em !important; //override 
    color: white !important; // override
    p, strong {
        color: white !important; // override
    }

    a {
        color: white !important; // override
    }
}

@import "minimal-mistakes"; // main partials
@import "../../projects";

/* This defines the font size of the navigation bar */
.sidebar {
    p, li{
        font-size: 0.85em !important;
        // font-size: $type-size-6 !important; original - changed by juniem
    }
}

.page__hero--overlay {
    z-index: 2;
    transition: transform 3s;
    font-size: 15px !important;
    @media (max-width: 1440px) {
        margin: 0px 24px;
    }

    @media (max-width: 960px) {
        margin: 0px 6px;
    }

    &:after {
        border-radius: 6px;
        background: black(0.3);
    }

    &:hover {
        transition: transform 0.75s;
    }

    .wrapper {
        display: flex;

        .page__hero--content {
            max-width: 66%;
        }

        .page__hero-image {
            position: absolute;
            height: calc(100% + 15px);
            left: 0;
            right: 0;
            top: 0;
            margin-left: auto;
            width: 34%;
            max-width: 456px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.feature__item {
    &--dual {
        @include breakpoint($small) {
            float: left;
            margin-bottom: 0;
            width: span(6 of 12);

            &:nth-child(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            &:nth-child(3n + 2) {
                clear: none;
                margin-left: gutter(of 12);
            }
        }
    }
}

.layout--splash {
    #main {
        margin-left: inherit;
        margin-right: inherit;
        padding-left: inherit;
        padding-right: inherit;
        max-width: inherit;

        .feature__title {
            position: relative;
            z-index: 100;
            margin: -20px 5%;
            padding: 5px !important;
            text-align: center;
            background: $primary-color;
            box-shadow: -5px 5px 5px mix(#fff, $primary-color, 60%);
            border-radius: 5px;
            border: transparent !important;
            color: #fff;
        }

        .feature__outer_wrapper {
            display: flex;
            padding-top: 2em;
            padding-bottom: 1em;

            h2 {
                border-bottom: none;
            }

            div {
              &:first-child {
                margin-left: auto;
                margin-right: auto;
              }
            }

            .archive__item-teaser-2{
                text-align: center;
                
                img {
                    max-height: 220px;
                }
            }

            &:nth-child(4n - 2) {
                background: rgba(0,120,215,0.1);
            }

            .feature__wrapper {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0.5em;
                padding-left: 1em;
                padding-right: 1em;
                border-bottom: none;
            }
        }
    }
}

/* links Custom Contrast */
#main
{
    a {color: #121F47 !important;}
    a:visited { color: #003d6b !important; }
    a:hover { color: #0065b3 !important; outline: 0; }
}

/* Custom Font Override and change of body width */
#main
{
   body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;}
   max-width: 100% !important;
//    margin-left: 100px !important;
//    margin-right: 100px !important;
}

.page__content
{
  font-size: 16px !important;
}

.page__footer-nav {
    font-family: $global-font-family;
    font-size: $type-size-7;

    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;

        li {
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        margin-left: 18px;
        border-bottom: 1px solid;

        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
}

.tree-expander-indicator{
    margin: 4px 2px;
    cursor: pointer;
}

.nav__list {
    .tree-item{
        .nav__sub-title {
            a {
                display: inline;
            }
        }

        ul {
            list-style: none;
        }

        &:not(.has-children){
            .tree-expander-indicator:first-of-type{
                visibility: hidden;
            }
        }

        &.is-expanded{
            .tree-expander-indicator:first-of-type{
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            >ul{
                display: inherit;
            }
        }

        &:not(.is-expanded){ 
            .tree-expander-indicator:first-of-type{
                -webkit-transform: none;
                transform: none;
            }
            
            >ul{
                display: none;
            }
        }

        .tree-item {
            margin-left: 5px;
        }
    }

    .nav__items {
      .active {
        font-weight: bolder !important;
        color: #006699 !important;
      }
    }
}

// Carosule control CSS starts here 
@media only screen and (min-width: 900px){
    .carousel{
        width: 1280px;
    }
    .hero_bg .wrapper{
        max-width: 1280px;
    }
    }
    @media only screen and (max-width: 1024px){
        .carousel{
            width: 768px;
        }
        }
@media only screen and (min-width: 400px){
.carousel{
    width: 375px;
}
.hero_bg{
    min-height: 545px !important;
}
}



.slick-prev:before,
.slick-next:before
{
    color: #121F47 !important;
}

.c_archive
{
    text-align: left !important;
    padding-left: 30px !important;
    padding-right: 20px !important;

}

.hero_bg{
    font-size: 15px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2em;
    padding: 3em 0;
    min-height: 345px !important;
}

.hero_bg .wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.hero_bg .page__title{
    font-size: 2.441em;
}

.hero_bg .page__title,
.hero_bg .page__lead 
{
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}